{% extends 'curso/base.html' %}

{% block contenido %}
    {% load static %}
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7 col-lg-7">
                <h1 class="mb-4" style="text-align: left;">About Me</h1>
                <p class="text-justify" style="padding: 0 20px;">
                    Hi! I'm Federico Servian, passionate about data analysis and currently a student at Coderhouse, where I'm specializing in Python and Django. Throughout my training, I've gained skills in key tools such as Power BI, Tableau, SQL, and Excel, and I continue to develop myself through practical projects to apply this knowledge in real-world scenarios.

                    One of these projects is this PCP (Production Planning and Control) platform, which I created to help companies manage their production more efficiently. By registering and logging in, you'll be able to load inventories, manage products, schedule production, and organize categories—all designed to optimize your production processes and facilitate decision-making.

                    My goal is to help companies make data-driven decisions, optimize processes, and add value through precise analysis. I love facing new challenges and constantly learning to improve my skills in the field of technology and data.
                </p>
            </div>

            <div class="col-md-5 col-lg-5 d-flex justify-content-center align-items-center">
                <img src="{% static 'curso/img/2.png' %}" alt="Federico Servian" class="img-fluid" style="max-height: 200px;">
            </div>
        </div>

        <div class="text-center mt-4 mb-4">
            <a href="https://www.linkedin.com/in/federico-servian-809a79243/" target="_blank" class="btn btn-primary btn-sm">My LinkedIn</a>
        </div>
    </div>
{% endblock %}






