{% extends 'curso/base.html' %}

{% block contenido %}
    <h1>List of Categories</h1>
    <a href="{% url 'curso:category_create' %}"><button>Create Category</button></a>
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="padding-left: 20px;">Name</th> 
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td style="padding-left: 20px;">{{ object.name }}</td> 
                    <td>{{ object.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}



