{% extends 'curso/base.html' %}

{% block contenido %}
<a href="{% url 'curso:category_list' %}" style="background-color: black; color: white; padding: 5px 10px; font-size: 14px; text-decoration: none; border-radius: 5px; display: inline-block; position: absolute; top: 10px; left: 10px;">
    Back
</a>
    <h1>Category - Deregistration</h1>
    <p>Are you sure you want to delete {{ object }}? </p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, I'm sure</button>
    </form>
{% endblock contenido %}
