{% extends 'curso/base.html' %}

{% block contenido %}
<main style="text-align: center;">
    <h1>Bienvenidos</h1>
    <a href="{% url 'curso:category_list' %}"><button>Categories</button></a>
    <a href="{% url 'curso:product_list' %}"><button>Products</button></a>
    <a href="{% url 'curso:production_order_list' %}"><button>Production Orders</button></a>
    <a href="{% url 'curso:inventory_list' %}"><button>Inventory</button></a>
    <a href="{% url 'curso:login' %}"><button>Login</button></a>
</main>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endblock  %}