{% extends 'curso/base.html' %}

{% load static %}

{% block contenido %}
    <main style="text-align: center;">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </main>

<!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">InnoByte</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Empowering Your Production, Streamlining Your Success</h2>
                    <a class="btn btn-primary" href="#about">Get Started</a>
                </div>
            </div>
        </div>
    </header>
<!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Transforming Your Production Process for Greater Efficiency</h2>
                    <p class="text-white-50">
                        InnoByte provides efficient solutions to enhance management and organization in production. Our platform is designed to optimize processes, increase productivity, and streamline control, driving growth and efficiency for your business.</p>
                    <p class="text-white-50">
                        The theme is open source, and you can use it for any purpose, personal or commercial.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="{% static 'curso/img/7.jpg' %}" alt="..." />
        </div>
    </section>
<!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'curso/img/5.jpg' %}" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Optimize</h4>
                        <p class="text-black-50 mb-0">With InnoByte, transform your production processes into visual, manageable data. Our platform allows you to organize and optimize inventories, products, and orders, boosting efficiency and productivity for your business.</p>
                    </div>
                </div>
            </div>
        <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'curso/img/3.jpg' %}" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Efficiency</h4>
                                <p class="mb-0 text-white-50">InnoByte simplifies your production management, offering powerful tools to enhance productivity and streamline operations, all from the convenience of your computer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'curso/img/6.jpg' %}" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Innovation</h4>
                                <p class="mb-0 text-white-50">InnoByte brings modern solutions to your production process, combining efficient management with a focus on safety and growth, ensuring your business thrives with innovative tools and strategic control</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Contact-->
    <section class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">Av. Santa Fe 1355, CABA, Buenos Aires</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50"><a href="#!">fmservian@gmail.com / innobyte@gmail.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">+54 9 11 8765-4321</div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </section>
{% endblock contenido %}

