{% extends 'curso/base.html' %}

{% block contenido %}
    <h1>Inventory List</h1>
    <a href="{% url 'curso:inventory_create' %}"><button>Update Inventory</button></a>
    <ul>
        {% for object in object_list %}
            <p>{{ object.product }}
                {{ object.location }}                
                {{ object.stock_quantity }}             
            </p>
        {% endfor %}
        <a href="/" style="background-color: black; color: white; padding: 5px 10px; font-size: 14px; text-decoration: none; border-radius: 5px;">Back</a>


    </ul>
{% endblock contenido %}