{% extends 'curso/base.html' %}

{% block contenido %}
    <div class="container mt-4" style="max-width: 500px;">
        {% if form.instance.pk %}
            <h1 class="mb-3" style="font-size: 1.5rem; font-weight: bold;">Edit Inventory</h1>
        {% else %}
            <h1 class="mb-3" style="font-size: 1.5rem; font-weight: bold;">Create Inventory</h1>
        {% endif %}

        <form method="post" class="mb-4">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary btn-sm" style="font-size: 14px; padding: 6px 10px;">Save</button>
                <a href="{% url 'curso:inventory_list' %}" class="btn btn-danger btn-sm" style="font-size: 14px; padding: 6px 10px;">Discard Changes</a>
            </div>
        </form>
    </div>
{% endblock %}
