{% extends 'curso/base.html' %}

{% block contenido %}
    <h1>Product List</h1>
    <form action="" method="get">
        <input type="text" name="search" placeholder={{ search_query }}>
        <button type="submit">Go</button>
    </form>
    <a href="{% url 'curso:product_create' %}"><button>Create Product</button></a>
    <ul>
        {% for object in object_list %}
            <p>{{ object.name }}
                {{ object.description }}
                {{ object.product_time }}  
                {{ object.cost_price }} 
                {{ object.category }}
            </p>
        {% endfor %}
        <a href="/" style="background-color: black; color: white; padding: 5px 10px; font-size: 14px; text-decoration: none; border-radius: 5px;">Back</a>


    </ul>
{% endblock contenido %}